SUBSYSTEM=="net", SUBSYSTEMS=="vca_virtio", ACTION=="add", ATTR{address}=="fe:00:00:00:0?:0?", KERNEL=="eth*",\
	ENV{NM_UNMANAGED}="1",\
	RUN+="/usr/sbin/vca_eth_ifup.sh '%E{DEVPATH}'"
